*.iml
.gradle/
.kotlin/
/local.properties
/signing.properties
/.idea/
.DS_Store
/build/
/app/build/
/captures/
.externalNativeBuild
.cxx
/build
*.apk
*.aab
*.apks
*.xapk
*.keystore
!debug.keystore
/keystore/
